{% extends 'layout.twig' %}
{% block body %}
    <h1>Memo-riz</h1>
    <h2>Bienvenue {{ name }}, sur la plateforme Memo-riz</h2>

    <p>
        Pour pouvez dès à présent utiliser les différentes fonctionnalitées tel que,
        la possibilité d'effectuer des quizz personnalisés ... <a href="{{ urlConnexion }}">connexion</a>
    </p>

{% endblock %}
