{% extends 'layout.twig' %}

{% block body %}
    <h2>{{ title }}</h2>
    <form>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Votre email">
            <input type="password" class="form-control" placeholder="Votre password">
            <button class="btn-primary">Valider</button>
        </div>
    </form>
{% endblock %}